/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
}



/* Основной стиль для навбара */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень для навбара */
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Левые и правые секции */
.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

/* Ссылки в навбаре */
.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s, transform 0.2s; /* Анимация изменения цвета и масштаба */
}

/* Стили при наведении на ссылки */
.nav-link:hover {
    color: #ffa500; /* Оранжевый при наведении */
    transform: scale(1.1); /* Легкое увеличение при наведении */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Вертикальный навбар */
        align-items: flex-start;
        padding: 10px;
    }

    .nav-link {
        margin: 5px 0; /* Уменьшение отступов для мобильной версии */
        font-size: 16px;
    }
}

/* Контент под навбаром */
.content {
    margin: 20px;
    font-family: Arial, sans-serif;
}


/* Стили для контейнера карточек */
.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три карточки в ряд */
    gap: 20px; /* Отступы между карточками */
    margin: 20px auto;
    max-width: 1200px; /* Ограничение ширины контейнера */
}

/* Стили для карточки товара */
.auto-card {

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr); /* Две карточки в ряд */
    }
}

@media (max-width: 480px) {
    .items-container {
        grid-template-columns: 1fr; /* Одна карточка в ряд */
    }
}

/* Стили для изображения */
.auto-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Стили для ссылок */
.auto-card a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.auto-card a:hover {
    color: #007bff;
}

/* Стили для текста */
.auto-card p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}