
/* Основной стиль для навбара */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень для навбара */
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Левые и правые секции */
.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

/* Ссылки в навбаре */
.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s, transform 0.2s; /* Анимация изменения цвета и масштаба */
}

/* Стили при наведении на ссылки */
.nav-link:hover {
    color: #ffa500; /* Оранжевый при наведении */
    transform: scale(1.1); /* Легкое увеличение при наведении */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Вертикальный навбар */
        align-items: flex-start;
        padding: 10px;
    }

    .nav-link {
        margin: 5px 0; /* Уменьшение отступов для мобильной версии */
        font-size: 16px;
    }
}


/* Контент под навбаром */
.content {
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
    font-size: 2em;
}

/* Стилі для контейнера товару */
.cryptoInfo {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cryptoInfo img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.cryptoInfo p {
    font-size: 1.1em;
    margin: 10px 0;
}

.cryptoInfo strong {
    color: #555;
}

/* Стилі для кнопок */
button {
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.updateBtn {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
}

.updateBtn:hover {
    background-color: #45a049;
}

.deleteBtn {
    background-color: #f44336;
    color: white;
}

.deleteBtn:hover {
    background-color: #e53935;
}

/* Адаптивність */
@media (max-width: 768px) {
    .cryptoInfo {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
    }
}

.center-p {
    text-align:center;
}
