<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">

<head>
    <meta charset="UTF-8">
    <title>Детали товара</title>
</head>
<body>
<h1>Детали товара</h1>

<div th:if="${item != null}">
    <!-- Отображение изображения -->
    <img th:src="${item.src}" alt="Фото товара" style="max-width: 400px; max-height: 400px;">
    <p><strong>Название:</strong> <span th:text="${item.name}">Название товара</span></p>
    <p><strong>Описание:</strong> <span th:text="${item.description}">Описание товара</span></p>
    <p><strong>Количество:</strong> <span th:text="${item.amount}">Количество товара</span></p>

</div>

<div th:if="${error != null}">
    <p th:text="${error}"></p>
</div>
</body>
</html>
