<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">

<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
<!-- Навигационная панель -->
<nav class="navbar">
    <div class="navbar-left">
        <a href="/main" class="nav-link">Головна сторінка</a>
    </div>
    <div class="navbar-right">
        <a href="/addMaterial" class="nav-link">Додавання товару</a>
    </div>
</nav>

<h1>Товари у магазині</h1>



<!-- Секция карточек товаров -->
<div>


<div  >
    <a class="material-card" th:each="material : ${materials}" th:href="@{/materialPage/{id}(id=${material.id})}">
        <h3 th:text="${material.name}">Назва товару</h3>
        <img th:src="${material.src}" alt="Фото товара" style="max-width: 400px; max-height: 400px;margin: 0 auto">
        <p>Кількість: <span class="amount" th:text="${material.amount}">Немає даних</span></p>
    </a>
</div>
</div>


</body>

</html>