<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">

<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
<h1>Товари у магазині</h1>

<!-- Секция фильтров -->
<div class="filters">
    <label for="search">Пошук товару:</label>
    <input type="text" placeholder="Введіть назву товару..." id="search" oninput="applyFilters()">
</div>

<!-- Секция карточек товаров -->
<div class="items-container" th:each="item : ${items}">
    <div class="item-card" th:id="${item.id}">
        <h3 th:text="${item.name}">Назва товару</h3>
        <p>Кількість: <span class="amount" th:text="${item.amount}">Немає даних</span></p>
        <div class="item-actions">
            <button class="decrease-btn" onclick="updateAmount(this, -1)">-</button>
            <label>
                <input type="number" value="1" min="1" class="quantity-input">
            </label>
            <button class="increase-btn" onclick="updateAmount(this, 1)">+</button>
        </div>
    </div>
</div>

<script src="/css/js/main.js"></script>
</body>

</html>