<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">

<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
<!-- Навигационная панель -->
<div th:replace="navbar :: navbar"></div>

<h1>Товари</h1>

<!-- Секция карточек товаров -->
<div class="wallpaper-container">
    <div  th:each="wallpaper : ${wallpapers}">
        <div class="wallpaper-card" th:id="${wallpaper.id}">
            <a  th:href="@{/pageWallpaper/{id}(id=${wallpaper.id})}">
                <p th:text="${wallpaper.name}">Назва товару</p>
            <img th:src="${wallpaper.src}" alt="Фото шпалери" style="max-width: 400px; max-height: 400px;">
            </a>
            <p>Кількість: <span class="amount" th:text="${wallpaper.amount}">Немає даних</span></p>
        </div>
    </div>
</div>

</body>

</html>