<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">

<head>
    <meta charset="UTF-8">
    <title>Детали книги</title>
    <link href="/css/pageCrypto.css" rel="stylesheet">
</head>
<body>


<h1>Детали товара</h1>

<div th:if="${crypto != null}" class="cryptoInfo" th:id="${crypto.id}">
    <!-- Отображение изображения -->
    <p class="center-p"><span th:text="${crypto.mark}">Название товара</span></p>
    <img th:src="${crypto.img}" alt="Фото товара" style="max-width: 400px; max-height: 400px;">
    <p><strong>Назва</strong> <span th:text="${crypto.name}">Название товара</span></p>
    <p><strong>Ціна:</strong> <span th:text="${crypto.price}">Количество товара</span></p>
    <p><strong>Опис:</strong> <span th:text="${crypto.description}">Описание товара</span></p>

    <a th:href="@{/updateCrypto/{id}(id=${crypto.id})}"><button class="updateBtn">Оновити товар</button></a>

    <button class="deleteBtn" onclick="deleteCrypto(this)">Видалити токен</button>
</div>


<script src="/css/js/deleteCrypto.js"></script>
</body>
</html>
