<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Сторінка оновлення книги</title>
    <link href="/css/addBook.css" rel="stylesheet">
</head>
<body>
<!-- Навигационная панель -->

<div th:if="${book != null}" class="bookInfo" th:id="${book.id}"></div>

<h1>Оновлення книги</h1>

<!-- Форма для відправки POST-запиту -->
<form th:action="@{/api/bookUpdate/{id}(id=${book.id})}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <!-- Поле для вводу тексту -->
    <label for="title">Назва товару:</label>
    <input type="text" id="title" name="title" required>
    <br><br>

    <!-- Поле для вводу тексту -->
    <label for="author">Автор:</label>
    <input type="text" id="author" name="author" required>
    <br><br>

    <!-- Поле для вводу посилання -->
    <label for="img">Посилання на фото товару:</label>
    <input type="text" id="img" name="img" required>
    <br><br>

    <!-- Поле для вводу опису -->
    <label for="description">Опис товару:</label>
    <textarea id="description" name="description" required></textarea>
    <br><br>

    <!-- Кнопка для відправки -->
    <button type="submit">Додати товар</button>
</form>
</body>
</html>
